.App {
  text-align: center;
  background-color: #cccccc;
}

.App-header {
  background-color: #eeeebb;
  width: 93%;
  margin: auto;
  max-width: 300px;
  padding: 10px;
  text-align: centerç;
  /*min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;*/
}

#visor1{
  width: 90%;
  height: 75px;
  border: black 1px solid;
  font-family: Courier New;
  font-size: 30pt;
  font-weight: bold;
  background-color: black;
  color: red;
  text-align: center;

}

#visor2{
  width: 90%;
  height: 25px;
  border: black 1px solid;
  font-family: Courier New;
  font-size: 15pt;
  font-weight: bold;
  background-color: black;
  color: red;
  text-align: center;

}

#botaoA,#botaoB, #botaoC, #botaoD{
  width: 45%;
  height: 100px;
  background-color: red;
  border: black 1px solid;
  font-size: 24pt;
  color: white;
}

#botaoB{
  background-color: yellow;
}

#botaoC{
  background-color: blue;
}

#botaoD{
  background-color:green;
}

#botaoStart{
  width: 90%;
  height: 30px;
  border: black 1px solid;
  background-color:#cccccc;
  font-size: 11pt;
}

